/* shared styles  */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lora', serif;
}
.title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.paragraph {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  width: 594px;
  margin: auto;
  padding: 15px 0px;
}
.special-color {
  color: #e55473;
}
.shared-img {
  width: 200px;
  height: 200px;
  padding-top: 10px;
}
.btn {
  border-radius: 8px;
  background: #e55473;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  color: white;
}
.btn:hover {
  color: #e55473;
  background-color: white;
}

/* navbar styles starts from here  */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 500px;
  padding: 20px;
  background: rgba(209, 41, 77, 0.1);
}
.nav-title {
  font-size: 25px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.menus {
  list-style: none;
  margin-right: 20px;
}
.menus:hover {
  color: #e55473;
}

/* banner container styles start from here  */

.banner-container {
  display: flex;
  gap: 100px;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  padding: 50px 50px 0px;
}
.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0px;
  width: 60%;
}
.banner-img {
  width: 300px;
  height: 500px;
}

/* featured containers designs starts from here  */

.featured-container {
  text-align: center;
  margin-top: 50px;
  padding: 50px;
}
.featured-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}
.featured-paragraph{
  text-decoration: underline;
  color: rgba(39, 39, 39, 0.6);
}
.featured-img {
  width: 250px;
  height: 250px;
  padding: 60px 20px 0px 20px;
  background: rgba(167, 33, 98, 0.15);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.img-2 {
  background: rgba(5, 151, 160, 0.15);
}
.img-3 {
  background: rgba(71, 125, 17, 0.15);
}

/* Product section design starts from here  */

.product-section {
  width: 80%;
  margin: auto;
  padding: 40px;
}
.product-container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* sale container designs start from here  */

.sale-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 30px;
}

/* social container styling  */
.social-container {
  text-align: center;
  padding: 90px;
  width: 80%;
  margin: auto;
}
.social-container-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.social-container-box {
  border-radius: 5px;
}

/* subscriber container styles  */

.subscriber-container {
  background: url("./asset/Rectangle\ 9.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  width: 60%;
  margin: auto;
}
.subscriber-container input {
  font-size: 18px;
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
}

/* footer section styling  */
footer{
    text-align: center;
    padding: 50px;
    margin-top: 80px;
    background: #111010;
    color: white;
}
.footer-title{
    color: white;
}
.footer-paragraph{
    color: white;
}

           /* End  */